<%inherit file="../base.html" />
<%def name="content()">
<%!
from django.shortcuts import reverse
from app.model.video import FromType
from app.utils.permission import client_auth
%>
<img src="${video.image}" class="video-images" />

<div class="data">
    <p><span class="span">名称:</span><br />${video.name}</p>
    <p>
        <span class="span">演员:</span>
        <ul>
        % for man in video.video_star.all():
        <Li>${man.name}:${man.ident}</Li>
        % endfor

        </ul>
    </p>
    <p>
        <span class="span">简介:</span><br/>
        <span class="info">${video.info}</span>
    </p>
    <p>
        <span class="span">选集: </span><br/>
        % if FromType(video.from_to) == FromType.custom and not client_auth(request):
        <a href="${reverse('client_auth')}">请您登录</a>
        % else:
        <ul class="number-ul">
        % for data in video.video_sub.all():
            <li><a href="${data.url}"  target="_blank">第${data.number}集</a></li>
        % endfor
        </ul>
        % endif
    </p>
</div>
</%def>
<%def name="css()">
<link href="/static/client/css/video_sub.css" rel="stylesheet" />
</%def>
