<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${self.title()}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no">
    <link href="/static/client/css/base.css" rel="stylesheet"/>
</head>
<body>
<header>导航</header>
<div class="base-content">
    ${self.content()}


</div>
<footer >
    <ul>
        <li>外链</li>
        <li>内链</li>
        <li>我的</li>
    </ul>
</footer>
</body>
<script src="/static/dashboard/js/jquery-1.12.4.min.js"></script>
${self.js()}
</html>
<%def name="title()"></%def>
<%def name="js()"></%def>
<%def name="css()"></%def>
<%def name="content()"></%def>
